node_modules/
.env
*.log
.DS_Store

/generated/prisma

# Data
database.sqlite
*.sqlite

# Binaries
instantclient_23/

# Build artifacts
dist/
build/
.vercel
.cache/

instantclient_21_15/
instantclient-basiclite-macos-arm64.dmg
